# Local .terraform directories
**/.terraform/*

# .tfstate files
*.tfstate
*.tfstate.*

# Crash log files
crash.log

# Ignore any .tfvars files that are generated automatically for each Terraform run. Most
# .tfvars files are managed as part of configuration and so should be included in
# version control.
#
# example.tfvars

# Ignore override files as they are usually used to override resources locally and so
# are not checked in
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Include override files you do wish to add to version control using negated pattern
#
# !example_override.tf

# Include tfplan files to ignore the plan output of command: terraform plan -out=tfplan
# example: *tfplan*

# Mac Files
.DS_Store
10-Azure-Virtual-Network-4Tier/terraform-manifests/c1-versions.tf
10-Azure-Virtual-Network-4Tier/terraform-manifests/c1-versions.tf
10-Azure-Virtual-Network-4Tier/terraform-manifests/c2-generic-input-variables.tf
10-Azure-Virtual-Network-4Tier/terraform-manifests/c3-locals.tf
10-Azure-Virtual-Network-4Tier/terraform-manifests/c4-random-resources.tf
10-Azure-Virtual-Network-4Tier/terraform-manifests/c5-resource-group.tf
10-Azure-Virtual-Network-4Tier/terraform-manifests/c6-01-vnet-input-variables.tf
10-Azure-Virtual-Network-4Tier/terraform-manifests/c6-02-virtual-network.tf
10-Azure-Virtual-Network-4Tier/terraform-manifests/c6-03-web-subnet-and-nsg.tf
10-Azure-Virtual-Network-4Tier/terraform-manifests/c6-04-app-subnet-and-nsg.tf
10-Azure-Virtual-Network-4Tier/terraform-manifests/c6-05-db-subnet-and-nsg.tf
10-Azure-Virtual-Network-4Tier/terraform-manifests/c6-06-bastion-subnet-and-nsg.tf
10-Azure-Virtual-Network-4Tier/terraform-manifests/c6-07-vnet-outputs.tf
